html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.8s ease-in-out;
  display: flex;
  flex-direction: column;
  background: #4A7856;
  text-align: left !important;
}

.slides-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ajustement ici */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.panel {
  scroll-snap-align: start;
  flex: 0 0 100vh; /* Correction ici */
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Empêche le débordement */
  transition: background 1s ease-in-out; /* Transition plus fluide */
}

.fixed-container {
  max-width: 90%; /* Pour éviter les débordements */
  text-align: left;
  padding: 2rem;
  box-sizing: border-box;
}


.glassmorph-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25000px); /* Flou arrière-plan */
  -webkit-backdrop-filter: blur(25000px); /* Compatibilité Safari */
  border-radius: 15px; /* Coins arrondis */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Bordure transparente */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre légère */
  color: white; /* Texte blanc */
  margin: auto; /* Centre le composant */
  text-align: left;
  width: 90%; /* S'adapte aux petits écrans */
  max-width: 1200px; /* Largeur maximale */
  padding: 2rem; /* Évite que le contenu colle aux bords */

} 




h1, h2, h3, h4, li, p, ol {
  color: #fff;
}
 
/* Ajustement du texte pour mobile */
h1 {
  font-size: 3vw;
  margin-bottom: 1rem;
}

/* Ajustement du texte pour mobile */
h2 {
  font-size: 2.5vw;
  margin-bottom: 1rem;
}

/* Ajustement du texte pour mobile */
h3 {
  font-size: 2vw;
  margin-bottom: 1rem;
}

p, li {
  font-size: 1.3vw;
  line-height: 1.5;
}

/* Sur mobile, augmenter la taille du texte */
@media (max-width: 980px) and (orientation: portrait) {
  p, li {
    font-size: 3.6vw; /* Taille plus grande sur mobile */
  }

  /* Ajustement du texte pour mobile */
  h2 {
    font-size: 4.6vw;
  }

  h3 {
    font-size: 5.1vw;
  }

  h1 {
    font-size: 5.6vw;
  }
}

@media (max-width: 980px) and (orientation: landscape) {
  p, li {
    font-size: 1.5vw;
  }
}

@media (max-width: 980px) {
  .glassmorph-container img {
    width: 100%; /* L’image prend toute la largeur */
    height: auto;
    max-height: 2000px;
    object-fit: cover; /* Recadre l'image pour éviter les bandes blanches */
    border-radius: 10px;
  }
}