<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon site Django + React</title>
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/src/main.jsx"></script>
</head>
<body>
    <div id="root"></div>
</body>
</html>

<!--<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Café SEP - Acceuil</title>
  <script type="module" crossorigin src="{% static '/assets/index-cBaZ7F5i.js' %}"></script>
  <link rel="stylesheet" crossorigin href="{% static '/assets/index-B5B-SW8W.css' %}">
</head>
<body>
    <div id="root"></div>
</body>
</html>-->