<!--<!DOCTYPE html>
<html lang="fr">
<<head>
    <meta charset="UTF-8">
    <title>Mon site Django + React</title>
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/src/main.jsx"></script>
</head>
<body>
    <div id="root"></div>
</body>
</html>-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load vite_tags %}
    <title>Café SEP - Acceuil</title>
    <link rel="stylesheet" href="{% vite_asset 'src/main.jsx' 'css' %}">
    <script type="module" src="{% vite_asset 'src/main.jsx' 'js' %}"></script>
  <!--<script type="module" crossorigin src="{% static '/assets/main-idvdqKH7.js' %}"></script>
  <link rel="stylesheet" crossorigin href="{% static '/assets/main-D3lzGfUS.css' %}">-->
</head>
<body>
    <div id="root"></div>
</body>
</html>